<?xml version="1.0"?>

<model>
  <name>Camera-plugin</name>
  <version>1.0</version>
  <sdf version="1.0">model_distorted.sdf</sdf>
  <!-- <sdf version="1.0">model_undistorted.sdf</sdf> -->

  <author>
    <name>Víctor Mayoral-Vilches</name>
    <email>victorma@xilinx.com</email>
  </author>

  <description>
    A simple 640x480 camera with a chessboard and a box for visualization, with a ROS plugin
  </description>
</model>
